<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- this link is necessary to work with thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Spring Sample</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}"> <!-- iterating books -->
        <th th:text="${book.id}"></th>
        <th th:text="${book.title}"></th>
        <th th:text="${book.publisher.name}"></th>
    </tr>
</table>

</body>
</html>