<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- this link is necessary to work with thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Spring Sample</title>
</head>
<body>

<h1>Author List</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr th:each="author : ${authors}"> <!-- iterating books -->
        <th th:text="${author.firstName}"></th>
        <th th:text="${author.lastName}"></th>
    </tr>
</table>

</body>
</html>